<nav>
  <div class="navbar">
    Restaurante
  </div>
</nav>

<!-- Refeição -->
<div class="page-container">
  <div class="option-container">
    <div class="option-title">
      <h1 style="font-weight: 400;">Refeição</h1>
    </div>
    <div (click)="chooseMeal()" class="option-body">
      <div>
        <h4 style="font-weight: 400;">Refeição</h4>
        <p>Monte seu prato com as opções do dia</p>
        <p style="font-weight: bold;">R$20.00</p>
      </div>
      <div style="display:flex">
        <img src="../assets/refeicao.jpg">
      </div>
    </div>
  </div>


  <!-- Bebidas -->
  <div class="option-container">
    <div class="option-title">
      <h1 style="font-weight: 400;">Bebidas</h1>
    </div>
    <div (click)="showDetails('agua')" class="option-body">
      <div>
        <h4 style="font-weight: 400;">Água</h4>
        <p></p>
        <p style="font-weight: bold;">R$2.00</p>
      </div>
      <div>
        <img src="../assets/agua.jpg">
      </div>
    </div>
    <div (click)="showDetails('suco')" class="option-body">
      <div>
        <h4 style="font-weight: 400;">Suco</h4>
        <p>Natural</p>
        <p style="font-weight: bold;">R$4.00</p>
      </div>
      <div>
        <img src="../assets/suco.jpg">
      </div>
    </div>
    <div (click)="showDetails('refrigerante')" class="option-body">
      <div>
        <h4 style="font-weight: 400;">Refrigerante</h4>
        <p>Lata</p>
        <p style="font-weight: bold;">R$3.50</p>
      </div>
      <div>
        <img src="../assets/refrigerante.jpg">
      </div>
    </div>
  </div>

  <!-- Sobremesas -->
  <div class="option-container">
    <div class="option-title">
      <h1 style="font-weight: 400;">Sobremesas</h1>
    </div>
    <div (click)="showDetails('cheesecake')" class="option-body">
      <div>
        <h4 style="font-weight: 400;">Cheesecake</h4>
        <p>Pedaço</p>
        <p style="font-weight: bold;">R$6.00</p>
      </div>
      <div>
        <img src="../assets/cheesecake.jpg">
      </div>
    </div>
    <div (click)="showDetails('sundae')" class="option-body">
      <div>
        <h4 style="font-weight: 400;">Sundae</h4>
        <p>Taça - Nos sabores de Creme, Chocolate e Morango</p>
        <p style="font-weight: bold;">R$6.00</p>
      </div>
      <div>
        <img src="../assets/sundae.jpg">
      </div>
    </div>
    <div (click)="showDetails('torta')" class="option-body">
      <div>
        <h4 style="font-weight: 400;">Torta de Maçã</h4>
        <p>Pedaço - Feita na hora</p>
        <p style="font-weight: bold;">R$5.50</p>
      </div>
      <div>
        <img src="../assets/torta.jpg">
      </div>
    </div>
  </div>
</div>

<!-- <form>
  <div>
    <h5>Opções de arroz e feijão (1 ou 2 opções)</h5>
  </div>
  <div class="myDiv">
    <div class=" custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
      <label class="custom-control-label" for="customCheck1">Arroz Branco</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
      <label class="custom-control-label" for="customCheck2">Arroz Integral</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck3" name="example1">
      <label class="custom-control-label" for="customCheck3">Feijão Carioca</label><br><br><br>
    </div>
  </div>



  <div>
    <h5>Carne (1 opção apenas)</h5>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
      Bisteca de Porco
    </label><br> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
      Carne de Panela
    </label><br> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
      Carne de milho (opção vegana ;p)
    </label><br> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
      Não desejo carne
    </label>
  </div><br><br><br>



  <div>
    <h5>Acompanhamentos (1 até 4 opções)</h5>
  </div>

  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck5" name="example1">
    <label class="custom-control-label" for="customCheck5">Sua mãe</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck6" name="example1">
    <label class="custom-control-label" for="customCheck6">Saladinha</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck7" name="example1">
    <label class="custom-control-label" for="customCheck7">Batata</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck8" name="example1">
    <label class="custom-control-label" for="customCheck8">Legumes Refogados</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck9" name="example1">
    <label class="custom-control-label" for="customCheck9">Folha de Palmeira retirada por uma virgem no orvalho da manhã de uma montanha</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck10" name="example1">
    <label class="custom-control-label" for="customCheck10">Alface</label>
  </div> -->