<form>
  <div>
    <h5>Opções de arroz e feijão (1 ou 2 opções)</h5>
  </div>
<div class = "myDiv">
  <div class=" custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
    <label class="custom-control-label" for="customCheck1">Arroz Branco</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
    <label class="custom-control-label" for="customCheck2">Arroz Livre, leve e solto</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck3" name="example1">
    <label class="custom-control-label" for="customCheck3">Feijão Paulista</label><br><br><br>
  </div>
</div>



  <div>
    <h5>Carne (1 opção apenas)</h5>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
      Presunto
    </label><br> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
    Bife de Feijão (opção vegana ;p)
    </label><br> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
      Lombo ao molho mostarda
    </label><br> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1">
    <label class="form-check-label" for="exampleRadios1">
      Não desejo carne
    </label>
  </div><br><br><br>



  <div>
    <h5>Acompanhamentos (1 até 4 opções)</h5>
  </div>

  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck5" name="example1">
    <label class="custom-control-label" for="customCheck5">Vinagrete</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck6" name="example1">
    <label class="custom-control-label" for="customCheck6">Batata</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck7" name="example1">
    <label class="custom-control-label" for="customCheck7">Cogumelos Azuis</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck8" name="example1">
    <label class="custom-control-label" for="customCheck8">Couve</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck9" name="example1">
    <label class="custom-control-label" for="customCheck9">O tronco da mamona para completar a árvore</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck10" name="example1">
    <label class="custom-control-label" for="customCheck10">Alface</label>
  </div>
  <br><br><br><br><br><br><br><br>

  <h5>Site produzido e mantido por Carlos Marques Produções Ltda &copy;
    <p>Entre em contato conosco
      <a href="https://www.facebook.com/carlosminoru.tamaki">
      <img width="25" height="25" src="https://ayltoninacio.com.br/img/s/18w50.jpg" alt="">
    </a> </p>
  </h5>
