<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top ">
  <div class="container">
    <a class="navbar-brand mx-auto" href="#">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/domingo">Domingo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/segunda">Segunda-feira</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/terca">Terça-feira</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quarta">Quarta-feira</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quinta">Quinta-feira</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sexta">Sexta-feira</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sabado">Sábado</a>
          </li>
        </ul>
      </div>
    </a>
  </div>
</nav>


<div class="myDiv container-fluid p-3 mb-2 bg-secondary text-white ">

  <h1>Restaurante do Clebinho</h1>
  <router-outlet></router-outlet>

</div>
